/*reset*/

html {
	color: #2a2a2a;
}
body {
	font-size: 12px;
	line-height: 1.8em;
	font-family: Tahoma, Arial;
	background: #f8f8f8;
	position: relative;
}
html,
body {
	height: 100%;
}
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
textarea,
p,
th,
td,
dl,
dt,
dd,
pre {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
b,
i {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	zoom: 1;
}
input,
textarea,
select,
button {
	font-size: 12px;
	color: #bbb;
	font-weight: inherit;
	vertical-align: middle;
	outline: none;
	border: 0;
}
input[type=radio],
input[type=checkbox] {
	vertical-align: middle;
	margin-right: 5px;
}
textarea {
	resize: none;
}
input[type=text],
input[type=password],
textarea,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
button,
button:focus,
input[type=number]:focus,
input[type=number] {
	appearance: none;
	appearance: none;
	-webkit-appearance: none;
	-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*base*/

a {
	text-decoration: none;
	color: #aaa;
}
a:focus {
	outline-style: none;
	outline-width: 0;
}
a:link,
a:visited,
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.underline {
	text-decoration: underline!important;
}
.bold {
	font-weight: bold;
}
.floatleft {
	float: left!important;
}
.floatright {
	float: right!important;
}
.aligncenter {
	text-align: center;
}
.alignright {
	text-align: right!important;
}
.alignleft {
	text-align: left!important;
}
/*.forcewrap{word-wrap:break-word;word-break:break-all;text-overflow:hidden;overflow:hidden;}*/

.borderless {
	border: none;
}
label.checkbox,
label.radio,
label.text {
	padding-left: 4px;
	vertical-align: top;
}
.breakword {
	word-wrap: break-word;
}
/*margin*/

.nomar {
	margin: 0!important;
}
.mar-auto {
	margin: 0 auto!important;
}
.nomar-t {
	margin-top: 0!important
}
.nomarl {
	margin-left: 0!important;
}
.nomarr {
	margin-right: 0!important;
}
.noboder {
	border: 0!important;
}
.mart-1 {
	margin-top: -1px;
}
.mart5 {
	margin-top: 5px!important;
}
.mart10 {
	margin-top: 10px!important;
}
.mart15 {
	margin-top: 15px!important;
}
.mart20 {
	margin-top: 20px!important;
}
.mart25 {
	margin-top: 25px!important;
}
.mart30 {
	margin-top: 30px!important;
}
.mart35 {
	margin-top: 35px!important;
}
.mart40 {
	margin-top: 40px!important;
}
.mart50 {
	margin-top: 50px!important;
}
.mart70 {
	margin-top: 70px!important;
}
.mart80 {
	margin-top: 80px!important;
}
.marl10 {
	margin-left: 10px!important;
}
.marr5 {
	margin-right: 5px!important;
}
.marr10 {
	margin-right: 10px!important;
}
.marr15 {
	margin-right: 15px!important;
}
.marr20 {
	margin-right: 20px!important;
}
.marr25 {
	margin-right: 25px!important;
}
.marr35 {
	margin-right: 35px!important;
}
.marl5 {
	margin-left: 5px!important;
}
.marl15 {
	margin-left: 15px!important;
}
.marl20 {
	margin-left: 20px!important;
}
.marl25 {
	margin-left: 25px!important;
}
.marl30 {
	margin-left: 30px!important;
}
.marl60 {
	margin-left: 60px!important;
}
.color-black {
	color: #000;
}
.color-a {
	color: #aaa!important;
}
.color-b {
	color: #bbb!important;
}
.color-3 {
	color: #333!important;
}
.color-6 {
	color: #666!important;
}
.color-8 {
	color: #888!important;
}
.color-9 {
	color: #999!important;
}
.color-white {
	color: #fff!important;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.Ios_scroll {
	-webkit-overflow-scrolling: touch;
}
/*width*/
/*padding*/

.nopadding {
	padding: 0!important;
}
.p-top5 {
	padding-top: 5px!important;
}
.p-top10 {
	padding-top: 10px!important;
}
.p-top15 {
	padding-top: 15px!important;
}
.p-top20 {
	padding-top: 20px!important;
}
.p-top25 {
	padding-top: 25px!important;
}
.p-top30 {
	padding-top: 30px!important;
}
.p-top35 {
	padding-top: 35px!important;
}
.p-top40 {
	padding-top: 40px!important;
}
.p-top50 {
	padding-top: 50px!important;
}
.p-top80 {
	padding-top: 80px!important;
}
.p-bt10 {
	padding-bottom: 10px!important;
}
.p-bt15 {
	padding-bottom: 15px!important;
}
.p-bt20 {
	padding-bottom: 20px!important;
}
/*font-size*/

.font9 {
	font-size: 9px!important;
}
.font10 {
	font-size: 10px!important;
}
.font11 {
	font-size: 11px!important;
}
.font12 {
	font-size: 12px!important;
}
.font13 {
	font-size: 13px!important;
}
.font14 {
	font-size: 14px!important;
}
.font15 {
	font-size: 15px!important;
}
.font16 {
	font-size: 16px!important;
}
.font17 {
	font-size: 17px!important;
}
.font18 {
	font-size: 18px!important;
}
.font20 {
	font-size: 20px!important;
}
.font22 {
	font-size: 22px!important;
}
.font25 {
	font-size: 24px!important;
}
.font24 {
	font-size: 25px!important;
}
.font30 {
	font-size: 30px!important;
}
.l_th {
	text-decoration: line-through!important;
}
.txt_hidden {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}
.block {
	display: block;
}
.inlineblock {
	display: inline-block;
}
.nobg {
	background: none!important;
}
.nobgimg {
	background-image: none!important;
}
.bgwhite {
	background: #fff!important;
}
.strong {
	font-weight: bold;
}
.line {
	font-size: 0;
	border-bottom: 1px solid #d9d9d9;
}
/*clear*/

.clear {
	clear: both;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1
}
.color-3 {
	color: #333;
}
.color-6 {
	color: #666;
}
.color-9 {
	color: #999;
}
.btn {
	display: block;
	height: 48px;
	line-height: 52px;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 30px;
	margin: 0 35px;
}
.btn-blue {
	background: #4da9fa;
}
.btnOut {
	height: 44px;
	line-height: 44px;
	background: #fff;
	color: #ec5555;
	margin: 0;
	border-color: #d9d9d9;
	border-width: 1px 0;
	border-radius: 0;
}
.Icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
.Icon-more,
.Icon-prev,
.Icon-next,
.Icon-back {
	width: 50px;
	height: 50px;
	background-image: url(../img/icon-more.png);
	position: absolute;
	background-size: 22px;
}
.Icon-more {
	left: 0;
	top: 0;
	z-index: 3;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.Icon-more.current {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.Icon-back {
	background-image: url(../img/icon-back.png);
	top: 0;
	left: 0;
}
.Icon-prev,
.Icon-next {
	background-image: url(../img/prev.png);
	background-size: 25px;
	top: 0;
	left: 0;
}
.Icon-next {
	background-image: url(../img/next.png);
	left: initial;
	right: 0;
}
.TopBar .Icon-prev {
	background-image: url(../img/prev2.png);
}
.TopBar .Icon-next {
	background-image: url(../img/next2.png);
}
.Icon-1,
.Icon-2,
.Icon-3,
.Icon-4 {
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../img/icon-1.png);
	background-size: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
}
.Icon-2 {
	background-image: url(../img/icon-2.png);
}
.Icon-3 {
	background-image: url(../img/icon-3.png);
}
.Icon-4 {
	background-image: url(../img/icon-4.png);
}
.Icon-bt-back {
	width: 60px;
	height: 59px;
	background-image: url(../img/arrow-t.png);
	background-size: 22px;
}
.Icon-arrow-t {
	width: 12px;
	height: 12px;
	background-image: url(../img/arrow-t2.png);
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: -25px;
	margin-top: -6px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.icon-circle {
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -7px;
}
.bg-1 {
	background: #59a7f9;
}
.border-1 {
	border-color: #59a7f9;
}
.bg-2 {
	background: #f08b15;
}
.border-2 {
	border-color: #f08b15;
}
.bg-3 {
	background: #e75353;
}
.border-3 {
	border-color: #e75353;
}
.bg-4 {
	background: #aaa;
}
.border-4 {
	border-color: #aaa;
}
.Ios_scroll {
	-webkit-overflow-scrolling: touch;
}
.header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 17px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	transition: 0.7s;
	-webkit-transition: 0.7s;
}
.header.current {
	background: #222;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}
.header p {
	opacity: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.header.current p {
	opacity: 1;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.main {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
}
.TopBoard {
	width: 100%;
	height: 48%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	padding: 5px;
	background: url(../img/whitemask10.png) repeat;
}
.photo img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.TopBoard .photo {
	margin: 0 auto;
	top: 16%;
}
.BottomBar {
	width: 100%;
	height: 44px;
	line-height: 44px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.TopBar {
	background: #f6f6f6;
	position: static;
	border-bottom: 1px solid #ddd;
}
.ClanderBar {
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #ddd;
	background: #fcfcfc;
	overflow: hidden;
}
.ClanderUl {
	width: 9999px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.ClanderUl li {
	float: left;
}
.ClanderUl li table,
.ClanderTab {
	width: 95%;
	margin: 0 auto;
}
.ClanderUl li table td,
.ClanderTab td,
.ClanderTab thead th {
	text-align: center;
}
.ClanderUl li table td p:first-child {
	color: #ccc;
	padding: 8px 0 8px 0;
}
.ClanderUl li table td p:last-child span,
.ClanderTab span {
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
}
/*.ClanderTab span{width:33px;height:33px;}*/

.ClanderUl li table td p:last-child span.current,
.ClanderTab span.current {
	background: #eaeaea;
}
.ClanderTab {
	background: #fcfcfc;
	height: 98%;
}
.ClanderTab thead th {
	color: #ddd;
	line-height: 30px;
}
.BtnItem {
	position: absolute;
	background: #fff;
	width: 100%;
	left: 0;
	bottom: 0;
}
.BtnItem table {
	width: 100%;
	height: 100%;
}
.BtnItem table td {
	width: 50%;
	text-align: center;
}
.BtnItem table tr:first-child td {
	border-bottom: 1px solid #d9d9d9;
}
.BtnItem table tr td:first-child {
	border-right: 1px solid #d9d9d9;
}
.inputList {
	border: 1px solid #d9d9d9;
	border-width: 1px 0;
	padding-left: 10px;
	background: #fff;
}
.inputList + .inputList {
	margin-top: -1px;
}
.inputList li {
	min-height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #d9d9d9;
	position: relative;
}
.inputList li:last-child {
	border: 0;
}
.inputList li span.lable {
	display: inline-block;
	height: 45px;
	line-height: 47px;
	color: #2a2a2a;
	font-size: 16px;
}
.inputList li input,
.inputList li .placeTxt,
.LineInt,
.lableTxt {
	width: 68%;
	min-height: 45px;
	line-height: 49px;
	font-size: 14px;
	float: right;
	margin-right: 15px;
	color: #8d8d8d;
}
.inputList li input.LineInt {
	width: 100%;
	margin: 0;
}
.inputList li .placeTxt {
	width: 60%;
	background: url(../img/arrow-r.png) right center no-repeat;
	background-size: 8px;
	padding-right: 20px;
}
.placeTxt img {
	vertical-align: middle;
}
.inputList li .placeTxt .userPhoto,
.userPhoto {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px 0;
	vertical-align: middle;
}
.inputList li .placeTxt .userPhoto img,
.userPhoto img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.checkList li {
	line-height: normal;
}
.checkList li span.lable {
	width: 90%;
	color: #888;
}
.checkList li.choosed {
	background: url(../img/icon-9.png) no-repeat 98% center;
	background-size: 18px;
}
.checkList li.choosed span.lable {
	color: #19bff1;
}
.inputList li.has-error input {
	color: #000
}
.lableTxt {
	position: absolute;
	right: 0;
	top: 0;
	background: #fff;
	text-align: right;
	color: #ce4040;
	display: none;
}
.inputList li.has-error .lableTxt {
	display: block;
}
.switch {
	display: inline-block;
	width: 58px;
	height: 28px;
	position: relative;
	border: 2px solid #1abded;
	border-radius: 24px;
	background: #1abded;
	margin: 10px 15px 0 0;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	position: relative;
}
.switch em {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 0;
	font-size: 0;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	box-shadow: -1px 1px 3px #139cc5;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.switch.off {
	border-color: #e5e5e5;
	background: #fff;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.switch.off em {
	box-shadow: 0px 1px 2px #b9b9b9;
	left: 0px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.bottomBack {
	width: 100%;
	height: 59px;
	border-top: 1px solid #d9d9d9;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
}
.menu {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d8d7db), to(#fff));
	-webkit-transform: translate(0, -100%);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	overflow: hidden;
}
.menu.current {
	-webkit-transform: translate(0, 0);
	transition: 0.4s;
	-webkit-transition: 0.4s;
}
.menu .bottomBack {
	display: none;
}
.menu.current .bottomBack {
	display: block;
}
.Version {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 75px;
}
.nav li {
	font-size: 17px;
	display: block;
	line-height: 46px;
	text-align: center;
	padding-top: 20px;
	-webkit-transform: translate(0, -90px);
}
.menu.current .nav li {
	-webkit-transform: translate(0, 0);
}
.menu.current .nav li:first-child {
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.menu.current .nav li:nth-child(2) {
	transition: 0.6s;
	-webkit-transition: 0.6s;
}
.menu.current .nav li:nth-child(3) {
	transition: 0.7s;
	-webkit-transition: 0.7s;
}
.menu.current .nav li:last-child {
	transition: 0.7s;
	-webkit-transition: 0.7s;
}
.wageTitle {
	background: #eee;
}
.wage {
	padding-left: 35px;
}
.wage li span.lable {
	color: #888;
}
.wageTitle li span.lable {
	color: #2a2a2a;
}
.wage li .placeTxt {
	padding: 0;
	background: none;
	color: #2a2a2a;
	font-size: 17px;
}
/*.ListDiv{overflow-y: auto;}*/

.ListItem li {
	display: block;
	height: 60px;
	border-bottom: 1px solid #d9d9d9;
	border-left-width: 5px;
	border-left-style: solid;
	background: #fff;
	overflow: hidden;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.ListItem li.current {
	min-height: 60px;
	height: auto;
	overflow: visible;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.ListItem li p {
	padding: 0 20px 0 15px;
	line-height: 60px;
}
/*.ListItem li dl{display: none;}
.ListItem li.current dl{display: block;}*/

.ListItem li dl dd {
	background: #f6f6f6;
}
.ListItem li dl dd p {
	line-height: 45px;
	border-top: 1px solid #d9d9d9;
	margin-left: 15px;
	padding-left: 0;
}
.circle {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background: url(../img/circle.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
}
.circle.nobg {
	margin-top: -90px;
}
.circle .userPhoto {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
}
.circle.current {
	animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
}
.circle .userPhoto img {
	width: 58px;
	height: 58px;
	border: 1px solid #d9d9d9;
}
.hand,.handIn {
	width: 200px;
	height: 200px;
	background: #f0e5e5;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -100px;
}
.hand.current {
	-webkit-animation: start3 2s 1s infinite ease-in-out;
	animation: start3 2s 1s infinite ease-in-out;
}
.handIn {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #b74b4b url(../img/Fingerprint.png) center center no-repeat;
	background-size: 70px;
	top: 50%;
	bottom: initial;
	margin: -50px 0 0 -50px;
}
.hand.current:after {
	content: '';
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 0 0 1px 2px #b74b4b;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	z-index: 3;
	opacity: 0;
	-webkit-animation: halo 2s 1s infinite ease-out;
	-moz-animation: halo 2s 1s infinite ease-out;
	animation: halo 2s 1s infinite ease-out;
}
@-webkit-keyframes halo {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}
@keyframes halo {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}
@-webkit-keyframes start3 {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	50% {
		opacity: 0.8;
		-webkit-transform: scale(1.1);
	}
}
@keyframes start3 {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	50% {
		opacity: 0.8;
		-webkit-transform: scale(1.1);
	}
}
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes rotate {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}
/*打卡成功*/

.success .circle:first-child {
	opacity: 0;
}
.success p.mart10,.success .hand {
	display: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.Card {
	padding-bottom: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius: 4px 4px 2px 2px;
	padding: 0 20px;
	position: absolute;
	left: 30px;
	right: 30px;
	top: 88px;
	background-color: #fff;
	-webkit-transform: translate(0, -90px);
	transition: 0.4s;
	-webkit-transition: 0.4s;
	opacity: 0;
}
.cardBottom {
	height: 10px;
	position: absolute;
	background: url(../img/bottom-x.png) repeat-x;
	bottom: -4px;
	left: 0;
	right: 0;
	background-size: 13px;
}
.circleBt {
	width: 62px;
	height: 22px;
	background: url(../img/circle-b.jpg) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 50%;
	margin-left: -31px;
}
.item {
	border-left: 4px solid #43be5a;
	padding-left: 10px;
}
.item.noData {
	border-color: #ccc;
}
.item p {
	height: 20px;
}
.item p:first-child {
	position: relative;
	top: -4px;
}
.item p:last-child {
	position: relative;
	bottom: -4px;
}
.work_on {
	color: #43be5a;
}
.success .Card {
	-webkit-transform: translate(0, 0px);
	opacity: 1;
	transition: 0.4s;
	-webkit-transition: 0.4s;
}
/*工资查询*/
.wage_out + .wage_out {
	margin-top: -1px;
}
.wage_out .inputList:first-child {
	z-index: 2;
	position: relative;
}
.wage_out{
	height:51px;
	overflow: hidden;
	transition: max-height 0.2s ease;
	-webkit-transition: max-height 0.2s ease;
	transition:0.2s;
	-webkit-transition:0.2s;
}
.wage_out .inputList:last-child {
	margin-top: -2px;
	transform: translate(0, -40px);
	-webkit-transform: translate(0, -40px);
	transition:0.2s;
	-webkit-transition:0.2s;
}
.wage_out.current{
	height: auto;
	max-height: 500px;
	overflow: visible;
	transition: max-height 0.2s ease;
	-webkit-transition: max-height 0.2s ease;
	transition:0.2s;
	-webkit-transition:0.2s;
}
.wage_out.current .inputList:last-child{
	transform: translate(0, 0px);
	-webkit-transform: translate(0, 0px);
	transition:0.2s;
	-webkit-transition:0.2s;
}
.wage_out.current .Icon-arrow-t {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}






























